  <header>
    <h1>Notes</h1>
    <div class="flex-sh">
        <nav>
            <li>
                <a href="#">
                    Accueil
                </a>
            </li>
            <li>
                <a routerLink="tags">
                    Étiquettes
                </a>
            </li>
            <li>
                <a href="#">
                    Paramètres
                </a>
            </li>
        </nav>
    </div>
</header>
<main>
  <router-outlet>

  </router-outlet>
</main>
<footer>
    <ul class="no-list">
        <li>
            <a href="#">
                Conditions générales
            </a>
        </li>
        <li>
            Copyright blablalbla lorem ipsum machin chouette
        </li>
    </ul>
</footer>
